.Payment {
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.main {
    background-color: gray;
}
form{
    margin-left: 30px;
}
input[type="text"] {
    width: 70%;
    margin-bottom: 10px;
    height: 25px;
}
input[type="submit"] {
    height: 45px;
    width: 213px;
    background: #c71e1c;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}