body {
  background-color: rgb(80, 80, 80);
  overflow-x: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  max-width: 480px;
  margin: 0px auto;

}

html::-webkit-scrollbar {
  width: 0;
}

@media not (max-width: 320px) and (min-width: 481px) {
  body {
    background-color: rgb(255, 255, 255);
    min-width: 320px;
  }
}